<!--Create a form for passport application-->
<!DOCTYPE html>
<html>
    <head>
        <title>Passport application form</title>
    </head>
    <body>
    <table border="1">
    <tr align="center">
    <td align="center">
        <h1 align="center"><b>PASSPORT APPLICATION FORM</b></h1>
        <h5><b>Government of India, Ministry of External Affairs</b></h5>
        <p>Please read the Passport Instruction Booklet carefully before filling the form. Fumishing of incorrect information/
        suppresion of information would lead to rejection of application and would attact penal provision as prescribed under the Passports Act,1967.
        Please produce your original documents at the time of submission of form. All field's marked 
        (*) are mandatory to fill.
        
        </p>
    </td>
    </tr>
    <tr>
        <td><b>Service Required</b></td>
    </tr>
    <tr>
        <td><b>Applying for</b><sup>*</sup> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <input type="text" value="Issuing of Passport"></td>     
    </tr>

    <tr>
        <td>
            <b>Type of Application</b> <sup>*</sup> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            Normal<input type="radio"name="type" value=""checked>
            Tatkael<input type="radio"name="type" value="" >
        
        </td>
    </tr>

    <tr>
        <td>
            <b>Type of Passport Booklet</b> <sup>*</sup> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            36 pages<input type="radio" value="36_pages"name="passport_type"checked>
            60 pages<input type="radio" value="60_pages"name="passport_type">
        </td>
    </tr>
    <tr>
        <td>
            <b>Validity Required</b>(For minors between 15 and 18)&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
              10 years<input type="radio" name="years"> Upto 18 years<input type="radio" name="years"> Not Applicable<input type="radio" name="years">
        </td>
    </tr>
    <tr>
        <td>
            <b>Applicant Details</b>
        </td>
    </tr>
    <tr>
        <td>
            <b>Applicant's Given Name(Given Name means First Name followed by Middle Name 
                (if any)) <sup>*</sup>
            </b>
        </td>
    </tr>
    <tr>
        <td>
        <input style="width: 900px;" type="text" name="" id="" >
        </td>
    </tr>
    <tr>
        <td>
            <b>Surname</b>
        </td>
    </tr>

    <tr>
        <td>
        <input style="width: 900px;" type="text" name="" id="" >
        </td>
    </tr>

    <tr>
        <td>
            <b>Are you known by any other names(aliases)?</b> <sup>*</sup>
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            Yes<input type="radio" name="nickname" id="" value="Yes">
            No<input type="radio" name="nickname" id="" checked value="No">
        </td>
    </tr>
    
    <tr>
        <td>
            <b>Have you ever changed your name?</b> <sup>*</sup>
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
            Yes<input type="radio" name="changed_name" id="" value="Yes">
            No<input type="radio" name="changed_name" id="" checked value="No">
        </td>
    </tr>

    <tr>
        <td>
          <b>Date of Birth (DD/MM/YYYY)</b> <sup>*</sup> &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="date" name="" id="">
        </td>
    </tr>

    <tr>
        <td>
            <b>Place Of Birth</b>
        </td>
    </tr>
    <tr>
        <td>
          <b>Village or Town or City</b> <sup>*</sup>
          <input style="width: 300px;" type="text" name="Delhi" value="Delhi"id="">
        </td>
    </tr>
    <tr>
        <td>
            <b>Country (if abroad) <sup>*</sup></b> &nbsp;&nbsp;&nbsp;&nbsp;
            <input style="width: 300px;"   type="text" name="" id="">
        </td>
    </tr>
    <tr>
        <td>
            <b>State (if in India)<sup>*</sup></b> &nbsp;&nbsp;&nbsp;&nbsp;
            <input style="width: 150px;" type="text" name="" id="">
            <b>District (if in India) <sup>*</sup></b>
            <input style="width: 150px;" type="text" name="" id=""> <br>
            If born before 15/08/1947 in a place now in Pakistan or Bangladesh,write "Undivided India"
        </td>
    </tr>
    <tr>
        <td> 
            <b>Gender </b><sup>*</sup>
            Male <input type="radio" name="" id="">
            Female <input type="radio" name="" id="">

            <b>Marital Status <sup>*</sup></b>
            <input type="text" name="" id="" value="Single">
            <b>Citizenship of India by <sup>*</sup></b>
            <input type="text" name="" id="" value="Birth">
        </td>
       
    </tr>
    <tr>
        <td>
            <b>PAN (if available)</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input style="width: 200px;" type="text" name="" id="">
            <b>Voter ID (if available)</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input style="width: 400px;" type="text" name="" id="">
        </td>
    </tr>
    <tr>
        <td>
            <b>Employment Type <sup>*</sup></b>
            <input style="width:800px;" type="text" name="" id="" value="Student">
        </td>
    </tr>
    <tr>
        <td>
          <b>If either of your parent(in case of minor)/spouse, a government servant? <sup>*</sup></b> 
          <input type="text" name="" id=""> 
        </td>
    </tr>
    <tr>
        <td>
            <b>Educational Qualification <sup>*</sup></b>
            <input type="text" name="" id="">
            <b>Are you eligible for Non-ECR category? <sup>*</sup></b>
            <input type="text" name="" id="" value="No">
        </td>
    </tr>
    <tr>
        <td>
            <b>Visible Distinguishing Mark</b>
            <input style="width: 900px;" type="text" name="" id="">
        </td>
    </tr>
    <tr>
        <td>
            <b>Aadhar Number</b>
            <input type="text" name="" id="">
        </td>
    </tr>

    <tr>
        <td>
            <b>Family Details(Father/Mother/Legal Guardian; at leasts one is mandatory.) <sup>*</sup></b>
        </td>
    </tr>
    <tr>
        <td>
            <b>
                Father's Given Name(Given Name means First Name followed by Middle Name(if any))
            </b>
        </td>
    </tr>
    <tr>
        <td>
            <input style="width: 900px;" type="text" name="" id="" value="">
        </td>
    </tr>

    <tr>
        <td>
            <b>Surname</b>
        </td>
    </tr>
    <tr>
        <td>
            <input style="width: 900px;" type="text" name="" id="" value="">
        </td>
    </tr>
    <tr>
        <td>
            <b>Legal Guardian's Given Name (if applicable)</b>
        </td>
    </tr>
    <tr>
        <td>
            <input style="width: 900px;" type="text" name="" id="">
        </td>
    </tr>
    <tr>
        <td>
            <b>Surname</b>
        </td>
    </tr>
    <tr>
        <td>
            <input style="width: 900px;" type="text" name="" id="">
        </td>
    </tr>



    
   




        </table>
    </body>
</html>